<ion-view view-title="活动列表">
  <ion-nav-buttons side="left">
    <a class="button button-clear" ng-click="back()">返回</a>
  </ion-nav-buttons>
  <ion-content class="cfun-his-acitivity-list">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="list card" ng-repeat="hisActivity in hisActivityLists">
      <a href="#/hisActivity/{{hisActivity.id}}">
      <div class="item">
        <h2>{{hisActivity.title}}</h2>
        <p>{{hisActivity.time}}</p>
      </div>


      <div class="item item-image">
        <img ng-src="img/activity/{{hisActivity.img}}">
      </div>

      <div class="item item-icon-right" >
        <h4>
          阅读全文
          <i class="icon ion-chevron-right"></i>
        </h4>

      </div>
      </a>
    </div>


  </ion-content>
</ion-view>
