/**
 * my - user_info
 * --------------------------------------------------
 */


.cfun-user-info-content{
  .item-avatar.cfun-my-fase-div{
    padding: 16px 16px 16px 80px;
    img{
      top : 8px;
      border-radius: 0;
      width: $userInfoFaceSize;
      height: $userInfoFaceSize;
      max-height: $userInfoFaceSize;
      max-width: $userInfoFaceSize;
    }
    h2{
      margin-bottom: 8px;
    }
    p{
      color: $userInfoGrayColor;
      font-size: 12px;
    }

  }
  .item{
    margin: 0 0 1px 0;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    .cfun-my-property-title{
      color: $userInfoGrayColor;
      padding-left: 3px;
    }
    .icon.ion-chevron-right{
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      position: absolute;
      top: 0;
      height: 100%;
      font-size: 16px;
      right: 11px;
      color: $userInfoNumGrayColor;
    }
    .num{
      color: $userInfoNumGrayColor;
    }
  }
  .item.tabs{
    margin-bottom: 10px;
    height: 80px;
    .tab-item{
      color: $userInfoGrayColor;
      font-size: $baseFontSize;
      i.icon{
        font-size: 20px;
        height: 20px;
        color: #444444;
      }
    }
  }
  .cfun-my-interests-div{
    ul{
      li{
        display: inline-block;
      }
      li:not(:first-child){
        margin-left: 6px;
      }
      li:not(:first-child):before{
        content: '、';
      }
    }
  }
  .cfun-my-activitys-div{
    .num{
      font-size: 25px;
      line-height: 28px;
      padding-left: 3px;
    }
    .cfun-my-activity-div{
      display: inline-block;
      width: $userInfoActivitySize;
      height: $userInfoActivitySize;

      margin-right: 10px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }
    }
  }
}
.cfun-user-edit-content{
  .item.item-toggle{
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .cfun-user-edit-face-div{
    img{
      width: 100%;
    }
  }
}

