<h2 class="cfun-msg-list-show-more-div">恭喜您已成为 {{item.activity.name}} 活动的小队长</h2>
<p>{{item.activity.area}}</p>
<p>费用：{{item.activity.value | currency:"¥"}} ｜ 人数最多：{{item.activity.maxApply}}</p>
<p >{{item.activity.time}}</p>

<p class="cfun-msg-list-show-more-div positive">成功邀请好友参加活动送咖币呢！</p>

<div class="cfun-msg-list-btns-div">

  <a class="button button-outline button-block button-positive button-small"  href="#/users/{{currentUser.id}}">
    邀请好友 {{item.activity.applyEndTime}} 截止报名
  </a>
</div>
