<h2 class="cfun-msg-list-show-more-div">活动评级：{{item.activity.name}}</h2>
<p >{{item.activity.time}}</p>

<hr>
<h3>对摄影师
  <a href="#/user/{{item.activity.photoFor.id}}">{{item.activity.photoFor.name}}</a>
  的作品评分
</h3>

<div ng-repeat="img in item.imgs">

  <img class="cfun-msg-list-acitivity-img" ng-src="img/his_activity/{{img.url}}">

  <div class="list">
    <div class="range range-positive">
      <i class="icon ion-ios-star-outline"></i>
      <input type="range"  min="0" max="100" value="33">
      <i class="icon ion-ios-star"></i>
    </div>
  </div>
</div>




<div class="cfun-msg-list-btns-div">

  <button class="button button-outline button-block button-positive button-small" ng-click="savePhotoComment($index)">
    提交评价 {{item.taskEndTime}} 前提交才有积分
  </button>
</div>
