@charset "UTF-8";

.scroll{
  background-color: #f3f3f3;
}
a{
  text-decoration: none;
}

$samllIconSize : 24px;
$baseFontSize : 12px;
$userInfoFaceSize : 54px;
$userInfoActivitySize : 44px;
$userInfoGrayColor : #b2b2b2;
$userInfoNumGrayColor : #F0F0F0;

@import "../scss/activity/list"
  ,"../scss/my/user_info"
  ,"../scss/his_activity/info";




