<ion-view view-title="消息列表">
  <ion-content >
    <div class="list">
      <a class="item" href="#/tab/msgList/recruitMsg">
        小队长招募
          <span ng-if="messages.recruitMsg.noReadMsgs.length > 0" class="badge badge-assertive">{{messages.recruitMsg.noReadMsgs.length}}</span>
      </a>
      <a class="item" href="#/tab/msgList/activityMsg">
        活动消息
        <span ng-if="messages.activityMsg.noReadMsgs.length > 0" class="badge badge-assertive">{{messages.activityMsg.noReadMsgs.length}}</span>
      </a>
      <a class="item" href="#/tab/msgList/toCommentOn">
        待评价
        <span ng-if="messages.toCommentOn.noReadMsgs.length > 0" class="badge badge-assertive">{{messages.toCommentOn.noReadMsgs.length}}</span>
      </a>

      <a class="item" href="#/tab/msgList/sys">
        系统消息
        <span ng-if="messages.sys.noReadMsgs.length > 0" class="badge badge-assertive">{{messages.sys.noReadMsgs.length}}</span>
      </a>
    </div>
  </ion-content>
</ion-view>
